<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>

<h2>Agregar Producto</h2>

<form method="POST">
    <input name="codigo" placeholder="Código"><br><br>
    <input name="nombre" placeholder="Nombre"><br><br>
    <input name="talla" placeholder="Talla"><br><br>
    <input name="color" placeholder="Color"><br><br>
    <input name="stock" placeholder="Stock"><br><br>
    <input name="precio" placeholder="Precio"><br><br>
    <input name="ubicacion" placeholder="Ubicación"><br><br>
    <input name="imagen" placeholder="Ej: TEST1.jpg"><br><br>

    <button type="submit">Guardar</button>
</form>

</body>
</html>